<button type="button" {{on "click" (fn this.handleClick @image) }} local-class="{{if @selected "selected" ""}} {{if @wrong "wrong"}} {{if @hint "hint"}}">
  <img data-test-card src={{@image}} alt={{@image}}/>
</button>
