
<div local-class="container">
{{#if this.isStarted}}
<div local-class="counter {{if this.isWon "hide" }}">
  <p>
    You have {{this.cards.length}} cards left. <br>
    You have found {{this.count}} sets so far in {{this.time}} seconds. <br>
    You have used {{this.hintCounter}} hints <br>
    <button class="button" data-test-hint local-class="hint-button" type="button" {{on "click" this.getHint}}>Get a hint</button>
  </p>
  <div local-class="highscore">
    <div local-class="highscore-header"><h2>High scores</h2><button class="button" local-class="reset-button" type="button" {{on "click" this.clearHighScores}}>🗑️</button></div>
    <ol>
    {{#each this.highscores as |score| }}
      <li><span local-class="score">{{score}}</span> seconds</li>
    {{/each}}
    </ol>
  </div>
</div>
<div local-class="playing-field">
  {{#each this.field as |card|}}
    <Card @id={{card.id}} @shape={{card.shape}} @amount={{card.amount}} @filling={{card.filling}} @color={{card.color}} @selected={{card.selected}} @wrong={{card.wrong}} @hint={{card.hint}} @onSelect={{this.selectCard}}/>
  {{/each}}
</div>
{{#if this.isWon}}
<div local-class="won">
  <h2>You have finished the game in {{this.finishTime}} seconds and used {{this.hintCounter}} hints.</h2>
  {{#if this.isHighScore}}<h3>🥳 You've score a new highscore! You're no. {{this.noHighScore}}</h3>{{/if}}
  <button class="button" local-class="start-button" type="button" {{on "click" this.startGame}}>Play again</button>
</div>
{{/if}}
{{else}}
<div local-class="start">
  <h1>You have not started a{{if @easy "n easy"}} game</h1>
  <div>
    <p>If you want to pick your own colors for the game you can select 3 distinct colors below.</p>
    <div local-class="picker-wrapper">
      <p local-class="picker-label">
        Color 1: <Picker @color={{this.color1}} @onDone={{fn this.onDone 'color1'}} />
      </p>
      <p local-class="picker-label">
        Color 2: <Picker @color={{this.color2}} @onDone={{fn this.onDone 'color2'}} />
      </p>
      <p local-class="picker-label">
        Color 3: <Picker @color={{this.color3}} @onDone={{fn this.onDone 'color3'}} />
      </p>
    </div>
  </div>
  <button class="button" local-class="start-button" data-test-startbutton type="button" {{on "click" this.startGame}}>Start the game</button>
</div>
{{/if}}
</div>